* {
  box-sizing: border-box; 
}
body {
	background: #ddd;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}
#main {
	background: #000080;
	padding: 15px;
	display: flex;
	flex: 1;
	flex-flow: row wrap;
}

#main div,
header p,
footer p {
	font: bold 16px/16px Arial, sans-serif;
	text-align: center;
}

#container1 {
	background: #f08080;
	flex: 0 0 33.3%;
}
#container2 {
	background: #8a2be2;
	flex: 0 0 33.3%;
}
#container3 {
	background: #a52a2a;
	flex: 0 0 33.3%;
}
#container4 {
	background: #20b2aa;
	flex: 0 0 49.9%;
}
#container5 {
	background: #4169e1;
	flex: 0 0 49.9%;
}

header, footer {
  background: #bbb;
  height: 20vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}

header {margin-bottom:15px;}
footer {margin-top:15px;}

.text-center{
  display: flex;
  justify-content: center;
  align-items: center;	
}

@media only screen and (max-width: 1024px){
	#container1 {flex: 1 0 48.5%;}
	#container2 {flex: 1 0 48.5%;}
	#container3 {flex: 1 0 48.5%;}
	#container4 {
		flex: 2 0 98%;
		order: 2;
	}
	#container5 {flex: 1 0 48.5%;}	 
}

@media only screen and (max-width: 768px){
	#container1 {flex: 1 0 98%;}
	#container2 {flex: 1 0 98%;}
	#container3 {flex: 1 0 98%;}
	#container4 {
		flex: 1 0 98%;
		order: 0;
	}
	#container5 {flex: 1 0 98%;}	 
}