<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Document</title>
</head>
<body>
<!-- <div id="wrapper"> -->
	<header>
		<div class="container clearfix">
			<div class="logo">
				<a href="">
					<img src="img/logo.png" alt="">
				</a>			
			</div>
			<ul class="nav">
				<li>
					<a href="#">HOME</a>
				</li>
				<li>
					<a href="#">SERVICES</a>
				</li>
				<li>
					<a href="#">Features</a>
				</li>
				<li>
					<a href="#">CONTACT</a>
				</li>
			</ul>
			<div id="home">
				<h1>HAVE A GOOD DAY</h1>
				<h3>JUST FOR YOU ON THEMEFOREST</h3>
				<button class="btn">GET YOUR COPY NOW</button>
			</div>
		</div>
	</header>
	<div class="box dark">
		<div class="container clearfix">
		<div class="features__wrap">
			<div class="features__wrap__item">
				<img src="img/features1.png" alt="">
				<h5>PROFESIONALS</h5>
				<p>
					Lorem ipsum dolor sit amet consectetur elit. 
				</p>
			</div>	
			<div class="features__wrap__item">
				<img src="img/features2.png" alt="">
				<h5>AMATEURS</h5>
				<p>
					Lorem ipsum dolor sit amet consectetur elit. 
				</p>
			</div>		
			<div class="features__wrap__item">
				<img src="img/features3.png" alt="">
				<h5>FOR EVERYONE</h5>
				<p>
					Lorem ipsum dolor sit amet consectetur elit. 
				</p>
			</div>										
		</div>	
		</div>
	</div>

	<div class="box light">
		<div class="container clearfix">
		<div class="templates__wrap">
			<div class="templates__wrap__item">
				<img src="img/template1.jpg" alt="">
				<h4>Responsive email template</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec</p>
				<button class="btn__small">Read more</button>				
			</div>	
			<div class="templates__wrap__item">
				<img src="img/template2.jpg" alt="">
				<h4>AMATEURS</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec</p>
				<button class="btn__small">Read more</button>				
			</div>
		</div>	
		</div>
	</div>
	<div class="box dark">
		<div class="container clearfix">
		<div class="supported__wrap">
				<h4>Fully Supported template</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada sodales risus, a adipiscing lorem commodo vitae. Ut semper semper lacus. Suspendisse convallis vel tellus at consectetur. Aenean risus arcu</p>
				<button class="btn__small grey">Read more</button>
		</div>	
		</div>
	</div>	
	<div class="box light">
		<div class="container clearfix">
		<div class="psds__wrap">
			<div class="psds__wrap__item">
				<img src="img/psd1.jpg" alt="">
				<h5>FULLY Layered PSD</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<a href="#" class="green">Check this out  ></a>
			</div>	
			<div class="psds__wrap__item">
				<img src="img/psd2.jpg" alt="">
				<h5>FUll Compatibility</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<a href="#" class="green">Check this out  ></a>	
			</div>		
			<div class="psds__wrap__item">
				<img src="img/psd3.jpg" alt="">
				<h5>very great modules </h5>
				<p>
					Lorem ipsum dolor sit amet consectetur elit. 
				</p>
				<a href="#" class="green">Check this out  ></a>
			</div>										
		</div>	
		</div>
	</div>
	<div class="box dark">
		<div class="container clearfix">
		<div class="mails__wrap">
			<div class="mails__wrap__item">
				<h4 class="plain">SEND IT NOW</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada sodales risus, a adipiscing lorem.</p>
				<button class="btn__small">Read more</button>				
			</div>	
			<div class="mails__wrap__item">
				<h4 class="pencil">VERY NICE TO SEE</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada sodales risus, a adipiscing lorem. </p>
				<button class="btn__small">Read more</button>				
			</div>
		</div>	
		</div>
	</div>	
	<div class="box light">
		<div class="container clearfix">
		<div class="foryou__wrap">
			<div class="foryou__wrap__item">		<img src="img/for-you.jpg" alt="">
			</div>	
			<div class="foryou__wrap__item">
				<h4>JUST FOR YOU ON THEMEFOREST</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum mollis risus, in mattis erat convallis egestas.</p>
				<button class="btn__small grey">Read more</button>				
			</div>
		</div>	
		</div>
	</div>		
	<div class="box partners">
		<div class="container clearfix">
		<div class="partners__wrap">
			<div class="partners__wrap__title">
				<h4>this template was featured on</h4>
			</div>
			<div class="partners__wrap__hr">&nbsp;</div>
			<div class="partners__wrap__item">
				<a href=""><img src="img/partner1.png" alt=""></a>
				<a href=""><img src="img/partner2.png" alt=""></a>
				<a href=""><img src="img/partner3.png" alt=""></a>
				<a href=""><img src="img/partner4.png" alt=""></a>
			</div>
		</div>	
		</div>
	</div>	
	<div class="footer light">
		<div class="container clearfix">
		<div class="footer__wrap">
			<div class="footer__wrap__item">		<p><span>Elenea &copy;</span> copyright 2013 - Unsubscribe here</p>
			</div>	
			<div class="footer__wrap__item">
				<div class="social">
					<a href="#" class="ic-gl black">&nbsp;</a>				
					<a href="#" class="ic-fb black">&nbsp;</a>
					<a href="#" class="ic-tw">&nbsp;</a>
				</div>
			</div>
		</div>	
		</div>
	</div>		
</body>
</html>