.container {
	width: 940px;
	margin: 0 auto;
}

#header {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	width: 100%;
	padding: 20px 0;
}

.logo {
	float: left;
}

.nav {
	float: right;
	padding-top: 8px; 
}

.nav li {
	float: left;
	margin-right: 40px;
}

.nav li:last-child {margin-right: 0;}
.nav a {
	text-transform: uppercase;
	font: 14px Arial, sans-serif;
	color: #fff;
}

.nav a:hover {
	color: #fed136;
}

#home {
	height: 700px;
	padding-top: 270px;
	text-align: center;
	color: #fff;
	background: #222 url(../img/home-bg.jpg) no-repeat center bottom;
/*	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;*/
			background-size: cover;
}

#home h3 {
	margin-bottom: 40px;
	font: 40px/40px Arial, sans-serif;
}

#home h1 {
	margin-bottom: 50px;
	text-transform: uppercase;
	font: 75px/75px Arial, sans-serif;
}

.btn {
	cursor: pointer;
	color: #fff;
	display: inline-block;
	padding: 20px 30px;
	text-transform: uppercase;
	font: bold 24px/24px Arial, sans-serif;
	background: #fed136;

/*	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		 -o-border-radius: 4px;*/
			border-radius: 4px;
}

.btn:hover {
	color: #fff;
	background: #f1c325;
}

.box {
	/*padding: 120px 0;*/
	margin: 120px 0;
}

#services {
	text-align: center;
}

h2.title {
	text-transform: uppercase;
	font: bold 40px/40px Arial, sans-serif;
	color: #222;
	margin-bottom: 10px;
}

h5.title {
	font: bold 18px/18px Arial, sans-serif;
	color: #222;
	margin-bottom: 10px;
}
.decription {
	font-size: 16px;
	color: #777;
	margin-bottom: 10px;
}

.services__wrap,
.portfolio__wrap,
.about__wrap {
	/*padding-top: 70px;*/
	width: 100%;
	margin-top: 70px;
	display: inline-block;
}

.serices__wrap__item {
	float: left;
	width: 33.33%;
	padding: 90px 10px 10px;
	line-height: 26px;
}

.serices__wrap__item p{
	font-size: 18px;
	color: #777;
}

.commerce {
	background: url("../img/commerce.png") no-repeat center top;
}

.responsive {
 	background: url("../img/responsive.png") no-repeat center top; 
}

.security {
 	background: url("../img/security.png") no-repeat center top; 
}

#portfolio,
#team {
	text-align: center;
	background: #f7f7f7;
	padding: 120px 0;
}

.portfolio__wrap__item {
	float: left;
	width: 31%;
	margin-right: 3.5%;
 	margin-bottom: 50px;
	background: #fff; 
}

.portfolio__wrap__item:nth-child(3n) {
	margin-right: 0;	
}

.portfolio__wrap__item:nth-last-child(1),
.portfolio__wrap__item:nth-last-child(2),
.portfolio__wrap__item:nth-last-child(3) {
	margin-bottom: 0;
}

.item__footer {
	padding: 25px 20px;
}

.item__footer h5.title{
	margin-bottom: 5px;
}

#about {
	text-align: center;
}

.about__item__text{
	width: 36%;
	/*outline: 1px solid red;*/
}

.about__item__text h5{
	line-height: 25px;
}

.about__item__text h5 span{
	text-transform: uppercase;
}

.about__item__text p{
	line-height: 25px;
	color: #777;
	font-size: 16px;
}

.about__item__img{
	width: 28%;
	/*outline: 1px solid red;*/
}

.about__item__img:after{
	content: " ";
	height: 95px;
	width: 3px;
	background: #f1f1f1;
	display: block;
	margin: 0 auto;
}

.about__item__img img,
.about__link {
	display: inline-block;
	width: 177px;
	height: 177px;
	border: 7px solid #f1f1f1;
	border-radius: 50%;
	margin-bottom: -5px;
}

.about__link {
	background: #fed136;
	font: bold 18px/25px  Arial, sens-serif;
	color: #fff;
	padding: 40px 30px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 1px rgba(0,0,0,.3);
}

#team {
	margin: 120px 0 0 0;
}

.team__wrap,
.brand__wrap {
	display: inline-block;
}

.team__wrap__item {
	float: left;
	padding: 0 10px;
	width: 33.3%
}

.team__wrap__item img{
	display: inline-block;
	width: 220px;
	height: 220px;
	border: 7px solid #fff;
	border-radius: 50%;	
	margin-bottom: 15px;
}

.team__wrap__item p{
	font: 14px/14px Arial, sans-serif;
	color: #777;
}

.team__info {
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.social {
	margin-top: 10px;
}

.social a{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/social-sprite.png) no-repeat;
	border: solid 3px #222;
	border-radius: 50%;
	margin: 0 3px;
}

.social a.black {background-color: #222;}

.social a.ic-tw {background-position: 0 0;}
.social a.ic-tw:hover {
	border-color:#00aced;
	background-color:#00aced;
	background-position: 0 -40px;
}
.social a.ic-tw.black {
	background-position: 0 -40px;
}

.social a.ic-fb {background-position: -40px 0;}
.social a.ic-fb:hover {
	border-color:#3b5998;
	background-color:#3b5998;	
	background-position: -40px -40px;
}
.social a.ic-fb.black {
	background-position: -40px -40px;
}

.social a.ic-pn {background-position: -120px 0;}
.social a.ic-pn:hover {
	border-color:#cb2028;
	background-color:#cb2028;		
	background-position: -120px -40px;
}
.social a.ic-pn.black {
	background-position: -120px -40px;
}

.social a.ic-gl{background-position: -80px 0;}
.social a.ic-gl:hover{
	border-color:#d95232;
	background-color:#d95232;		
	background-position: -80px -40px;
}
.social a.ic-gl.black {
	background-position: -80px -40px;
}


#brand {
	margin: 50px 0;
	text-align: center;
}

.brand__wrap a{
	display: inline-block;
	margin: 0 20px;
}

.brand__wrap img{
	vertical-align: middle;
}

#contact{
	text-align: center;
	background: #222 url(../img/maps-bg.png) no-repeat right bottom;
	padding: 110px 0;
}

#contact h2.title{
	color:#fff;
	line-height: 50px;
}

#message {
	display: inline-block;
	margin-top: 70px;
}

#message .left,
#message .right {width: 48%;}

#message input[type="text"],
#message input[type="email"],
#message textarea {
	font: bold 14px/14px Arial, sans-serif;
	color: #222;	
	background: #fff; 
	box-shadow: none;
	width: 100%;
	border-radius: 4px;
	margin-bottom: 30px; 
	padding: 15px 20px;
	border: 1px solid #ccc;	
}

#message input[type="text"],
#message input[type="email"] {
	height: 50px;
}

#message textarea {
	height: 210px;
	resize: none;
}

#message .btn{
	display: block;
	margin: 0 auto;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-transform: uppercase;
	font: bold 14px/14px Arial, sans-serif;
	color: #bbb;
}
::-moz-placeholder { /* Firefox 19+ */
	text-transform: uppercase;
	font: bold 14px/14px Arial, sans-serif;
	color: #bbb;
}
:-ms-input-placeholder { /* IE 10+ */
	text-transform: uppercase;
	font: bold 14px/14px Arial, sans-serif;
	color: #bbb;
}
:-moz-placeholder { /* Firefox 18- */
	text-transform: uppercase;
	font: bold 14px/14px Arial, sans-serif;
	color: #bbb;
}

#copyright {
	padding: 25px 0;
}

#copyright p{
	font: 14px/14px Arial, sans-serif;
	color: #555;
	margin-top: 13px;
}

#copyright .social{
	margin-top: 0;
	margin-left: 370px;
}